<a href="https://colab.research.google.com/github/abriyansyah05/Katalis/blob/main/1_Assignment_Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Python Data Types

1. Create a Python program that defines the following variables:

In [1]:
name = "Muh. Abri Yansyah"
age = 24
height = 1.75
is_student = True

2. Print the type of each variable using the "type()" function.

In [6]:
print("Data Types: ")
print("\nname \t \t: ",type(name))
print("\nage \t \t: ",type(age))
print("\nheight \t \t: ",type(height))
print("\nis_student \t: ",type(is_student))

Data Types:

name 	 	:  <class 'str'>

age 	 	:  <class 'int'>

height 	 	:  <class 'float'>

is_student 	:  <class 'bool'>

3. New Operations

In [8]:
student_status = {"is_name":"Muh. Abri Yansyah", "is_student" : True}
age_in_dog_years = age * 7
height_in_cm = height * 100

4. Print the following information:

In [16]:
print("Name \t: ", student_status['is_name'])
print("\nAge \t: ", age, " (Dog years: ",age_in_dog_years,")")
print("\nHeight \t: ", height, " meters"," (Height in centimeters: ", height_in_cm," cm)")
print("\nStudent\t: ", student_status["is_student"])

Name 	:  Muh. Abri Yansyah

Age 	:  24  (Dog years:  168 )

Height 	:  1.75  meters  (Height in centimeters:  175.0  cm)

Student	:  True