<a href="https://colab.research.google.com/github/abriyansyah05/Katalis/blob/main/3_Assignment_Python_Control_Flows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment: Python Control Flows

1. Write a Python program that takes an integer input *n*
from the user.

In [1]:
n = int(input("Input number: "))

Input number: 5

2. Implement the following conditional statements (elif)

In [2]:
if n > 0:
  print("The number is Positive. ")
elif n < 0:
  print("The number is Negative. ")
else:
  print("The number is Zero ")

The number is Positive.

3. Using a loop (either "for" or "while"), print the sum of all integers from 1 to
 (inclusive).

In [4]:
sum = 0
for i in range(1, n+1):
  sum += i

print(sum)

15

4. Implement a loop to print all odd numbers from 1 to *n*
 (inclusive).

In [7]:
odd = []
for i in range (1, n+1):
  if i % 2 ==0:
    continue
  else:
    odd.append(i)

print(odd)

[1, 3, 5]

5. Implement a loop to print the factorial of *n*
. The factorial of a non-negative integer *n*
 is the product of all positive integers less than or equal to *n*
.

In [8]:
factorial = 1

for i in range (1, n + 1):
  factorial *= i

print(factorial)

120

6. Use nested loops (either "for" or "while") to create and print the following pattern (for*n*
):

In [10]:
for row in range(1, n+1):
    for star in range(row):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *