# Python Syntax

## Indentation

Python uses indentation (typically four spaces) to define the structure and hierarchy of code blocks, such as loops, functions, and conditionals. Proper indentation is crucial for the correct interpretation of Python code.

In [ ]:
## Indentation

x = 7

if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is greater than 5

## Comments

Comments are used to add explanatory notes within the code and are ignored by the interpreter. In Python, comments start with the hash symbol (#) and can be placed on a separate line or at the end of a line of code.

In [ ]:
# This is a comment
print("Hello, World!")  # This is another comment

Hello, World!

## Quotations

Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long as the same type of quote starts and ends the string.

The triple quotes are used to span the string across multiple lines.

In [ ]:
word = 'word'

sentence = "This is a sentence."

paragraph = """This is a paragraph. It is
 made up of multiple lines and sentences."""

print(word)

word

## Variables and Data Types

Variables are used to store data in memory. In Python, you can assign values to variables using the assignment operator (=). Python is dynamically typed, meaning you don't need to explicitly declare the variable type. Common data types include integers, floats, strings, booleans, lists, tuples, dictionaries, and more.

In [ ]:
x = 10
y = 3.14
name = "John"
is_student = True
my_list = [1, 2, 3]
my_dict = {"name": "Alice", "age": 25}

## Control Structures

Python includes control structures such as if statements, for and while loops, and try-except blocks for exception handling. These control structures allow you to control the flow of execution based on conditions or iterate over collections of data.

In [ ]:
if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")

x is equal to 10

In [ ]:
for item in my_list:
    print(item)

1
2
3

In [ ]:
count = 0

while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

## Functions

Functions are reusable blocks of code that perform specific tasks. In Python, functions are defined using the def keyword, followed by the function name, arguments (if any), and a colon. The function body is indented below the function definition.

In [ ]:
def greet(name):
    print("Hello, " + name + "!")

greet("Alice")

Hello, Alice!

# Python Data Types

In [ ]:
# DataType Output: str
x = "Hello World"

# DataType Output: int
x = 50

# DataType Output: float
x = 60.5

# DataType Output: complex
x = 3j

# DataType Output: list
x = ["hello", "worlds", "hello"]

# DataType Output: tuple
x = ("hello", "worlds", "hello")

# DataType Output: range
x = range(10)

# DataType Output: dict
x = {"name": "Anna", "age": 24}

# DataType Output: set
x = {"hello", "worlds", "hello"}

# DataType Output: frozenset
x = frozenset({"hello", "worlds", "hello"})

# DataType Output: bool
x = True

# DataType Output: bytes
x = b"Geeks"

# DataType Output: bytearray
x = bytearray(4)

# DataType Output: memoryview
x = memoryview(bytes(6))

# DataType Output: NoneType
x = None

## Numeric Data Type

In [ ]:
# demonstrate numeric value

a = 5
print("Type of a: ", type(a))

b = 5.0
print("\nType of b: ", type(b))

c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

## Sequence Data Types

### Strings

In [ ]:
# Creating a String with single Quotes
String1 = 'Welcome to the Data World'
print("String with the use of Single Quotes: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Data World

In [ ]:
# Creating a String with double Quotes
String1 = "I'm an Analyst"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))

String with the use of Double Quotes:
I'm an Analyst
<class 'str'>

In [ ]:
# Creating a String with triple Quotes
String1 = '''I'm an Analyst and I live in a world of "data"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

String with the use of Triple Quotes:
I'm an Analyst and I live in a world of "data"
<class 'str'>

In [ ]:
# Creating String with triple Quotes allows multiple lines
String1 = '''Data
			For
			Life'''
print("\nCreating a multiline String: ")
print(String1)

Creating a multiline String:
Data
			For
			Life

In [ ]:
# Access characters of String

String1 = "Data Worlds"
print("Initial String: ")
print(String1)

# Printing First character
print("\nFirst character of String is: ")
print(String1[0])

# Printing Last character
print("\nLast character of String is: ")
print(String1[-1])

Initial String:
Data Worlds

First character of String is:
D

Last character of String is:
s

### Lists

In [ ]:
# Creating a List
List = []
print("Initial blank List: ")
print(List)

Initial blank List:
[]

In [ ]:
# Creating a List with the use of a String
List = ['DataWorlds']
print("\nList with the use of String: ")
print(List)

List with the use of String:
['DataWorlds']

In [ ]:
# Creating a List with the use of multiple values
List = ["Hello", "Worlds", "Hello"]
print("\nList containing multiple values: ")
print(List[0])
print(List[2])

List containing multiple values:
Hello
Hello

In [ ]:
# Creating a Multi-Dimensional List (By Nesting a list inside a List)
List = [['Hello', 'Worlds'], ['Hello']]
print("\nMulti-Dimensional List: ")
print(List)

Multi-Dimensional List:
[['Hello', 'Worlds'], ['Hello']]

In [ ]:
# accessing of element from list

# Creating a List with the use of multiple values
List = ["Hello", "Worlds", "Hi"]

# accessing a element from the list using index number
print("Accessing element from the list")
print(List[0])
print(List[2])

# accessing a element using negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list
print(List[-3])

Accessing element from the list
Hello
Hi
Accessing element using negative indexing
Hi
Hello

### Tuple

In [ ]:
# Creating an empty tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

Initial empty Tuple:
()

In [ ]:
# Creating a Tuple with the use of Strings
Tuple1 = ('Datas', 'World')
print("\nTuple with the use of String: ")
print(Tuple1)

Tuple with the use of String:
('Datas', 'World')

In [ ]:
# Creating a Tuple with the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

Tuple using List:
(1, 2, 4, 5, 6)

In [ ]:
# Creating a Tuple with the use of built-in function
Tuple1 = tuple('Data')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('D', 'a', 't', 'a')

In [ ]:
# Creating a Tuple with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'data')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'data'))

In [ ]:
# demonstrate accessing tuple

tuple1 = tuple([1, 2, 3, 4, 5])

# Accessing element using indexing
print("First element of tuple")
print(tuple1[0])

# Accessing element from last negative indexing
print("\nLast element of tuple")
print(tuple1[-1])

print("\nThird last element of tuple")
print(tuple1[-3])

First element of tuple
1

Last element of tuple
5

Third last element of tuple
3

## Boolean Data Type

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Set Data Type

In [ ]:
# Creating a Set
set1 = set()
print("Initial blank Set: ")
print(set1)

Initial blank Set:
set()

In [ ]:
# Creating a Set with the use of a String
set1 = set("Hello World")
print("\nSet with the use of String: ")
print(set1)

Set with the use of String:
{'r', 'W', 'l', 'H', 'd', 'o', 'e', ' '}

In [ ]:
# Creating a Set with the use of a List
set1 = set(["Hello", "World", "Data"])
print("\nSet with the use of List: ")
print(set1)

Set with the use of List:
{'World', 'Data', 'Hello'}

In [ ]:
# Creating a Set with a mixed type of values (Having numbers and strings)
set1 = set([1, 2, 'Hello', 4, 'Worlds', 6, 'Data'])
print("\nSet with the use of Mixed Values")
print(set1)

Set with the use of Mixed Values
{1, 2, 'Hello', 4, 6, 'Data', 'Worlds'}

In [ ]:
# Accessing of elements in a set

# Creating a set
set1 = set(["Hello", "World", "Hello"])
print("\nInitial set")
print(set1)

# Accessing element using for loop
print("\nElements of set: ")
for i in set1:
	print(i, end=" ")

# Checking the element using in keyword
print("Hello" in set1)

Initial set
{'World', 'Hello'}

Elements of set:
World Hello True

## Dictionary Data Type

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}

In [ ]:
# Creating a Dictionary with Integer Keys
Dict = {1: 'Hello', 2: 'World', 3: 'Data'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Hello', 2: 'World', 3: 'Data'}

In [ ]:
# Creating a Dictionary with Mixed keys
Dict = {'Name': 'Hello', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Mixed Keys:
{'Name': 'Hello', 1: [1, 2, 3, 4]}

In [ ]:
# Creating a Dictionary with dict() method
Dict = dict({1: 'Hello', 2: 'World', 3: 'Data'})
print("\nDictionary with the use of dict(): ")
print(Dict)

Dictionary with the use of dict():
{1: 'Hello', 2: 'World', 3: 'Data'}

In [ ]:
# Creating a Dictionary with each item as a Pair
Dict = dict([(1, 'Hello'), (2, 'World')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Dictionary with each item as a pair:
{1: 'Hello', 2: 'World'}

In [ ]:
# accessing an element from a Dictionary

# Creating a Dictionary
Dict = {1: 'Hello', 'name': 'World', 3: 'Data'}

# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])

# accessing a element using get() method
print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using key:
World
Accessing a element using get:
Data

# Python Operators

## Arithmetic Operators

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4

# Addition of numbers
add = a + b

# Subtraction of numbers
sub = a - b

# Multiplication of number
mul = a * b

# Modulo of both number
mod = a % b

# Power
p = a ** b

# print results
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

## Comparison Operators

In [ ]:
# Examples of Relational Operators
a = 13
b = 33

In [ ]:
# a > b is False
print(a > b)

False

In [ ]:
# a < b is True
print(a < b)

True

In [ ]:
# a == b is False
print(a == b)

False

In [ ]:
# a != b is True
print(a != b)

True

In [ ]:
# a >= b is False
print(a >= b)

False

In [ ]:
# a <= b is True
print(a <= b)

True

## Logical Operators

In [ ]:
# Examples of Logical Operator
a = True
b = False

In [ ]:
# Print a and b is False
print(a and b)

False

In [ ]:
# Print a or b is True
print(a or b)

True

In [ ]:
# Print not a is False
print(not a)

False

## Bitwise Operators

In [ ]:
# Examples of Bitwise operators
a = 10
b = 4

In [ ]:
# Print bitwise AND operation
print(a & b)

0

In [ ]:
# Print bitwise OR operation
print(a | b)

14

In [ ]:
# Print bitwise NOT operation
print(~a)

-11

In [ ]:
# print bitwise XOR operation
print(a ^ b)

14

In [ ]:
# print bitwise right shift operation
print(a >> 2)

2

In [ ]:
# print bitwise left shift operation
print(a << 2)

40

## Assignment Operators

In [ ]:
# Examples of Assignment Operators
a = 10

In [ ]:
# Assign value
b = a
print(b)

10

In [ ]:
# Add and assign value
b += a
print(b)

20

In [ ]:
# Subtract and assign value
b -= a
print(b)

10

In [ ]:
# multiply and assign
b *= a
print(b)

100

In [ ]:
# bitwise lishift operator
b <<= a
print(b)

102400

# Python Control Flows

## Selection / Decision

### If - Else

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

### Elif

In [ ]:
x = 10
if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")

x is equal to 10

## Repetition

### For Loop

In [ ]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

### While Loop

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

### Break Statement

In [ ]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

### Continue Statement

In [ ]:
for num in range(10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

# Python Function

In [ ]:
# Function Example

def add_numbers(a, b):
    result = a + b
    return result

In [ ]:
# Calling a Function
result1 = add_numbers(5, 3)
print(result1)  # Output: 8

8

# Python File Handling

## Write File

In [ ]:
file = open("example.txt", "w")  # Opens the file in write mode
file.write("Hello, World!")  # Writes the data to the file
file.close()  # Closes the file

In [ ]:
# Python code to illustrate with() alongwith write()
with open("example2.txt", "w") as f:
	f.write("Hello World!!!")

## Read File

In [ ]:
file = open("example.txt", "r")  # Opens the file in read mode
content = file.read()  # Reads the entire content of the file
line = file.readline()  # Reads one line from the file

In [ ]:
print(content)

Hello, World!

In [ ]:
print(line)

In [ ]:
# Python code to illustrate with() alongwith read()
with open("example2.txt", 'r') as f:
    contents = f.read()
    print(contents)

Hello World!!!

## Append

In [ ]:
# Python code to illustrate append() mode

file = open('example.txt', 'a') # Opens the file in append mode
file.write("This will add this line") # Writes the data to the file
file.close() # Closes the file

In [ ]:
# Python code to illustrate with() alongwith append()
with open("example2.txt", "a") as f:
	f.write("This will add this line")

## X Mode

In [ ]:
try:
    with open("new_file.txt", "x") as file:
        file.write("This is a new file.")
except FileExistsError:
    print("The file already exists.")

The file already exists.

# Python Error Handling

## Syntax Error Example

In [ ]:
# initialize the amount variable
amount = 10000

# check that You are eligible to purchase Dsa Self Paced or not
if(amount > 2999)
print("You are eligible to purchase Dsa Self Paced")

SyntaxError: ignored

## ZeroDivisionError Example

In [ ]:
# initialize the amount variable
marks = 10000

# perform division with 0
a = marks / 0
print(a)

ZeroDivisionError: ignored

## Type Error Example

In [ ]:
x = 5
y = "hello"
z = x + y # Raises a TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: ignored

## How to Resolve The Error

In [ ]:
x = 5
y = "hello"
try:
	z = x + y
except TypeError:
	print("Error: cannot add an int and a str")

Error: cannot add an int and a str

In [ ]:
# Python program to handle simple runtime error

a = [1, 2, 3]
try:
	print ("Second element = %d" %(a[1]))

	# Throws error since there are only 3 elements in array
	print ("Fourth element = %d" %(a[3]))

except:
	print ("An error occurred")

Second element = 2
An error occurred

In [ ]:
# Program to handle multiple errors with one except statement

def fun(a):
	if a < 4:

		# throws ZeroDivisionError for a = 3
		b = a/(a-3)

	# throws NameError if a >= 4
	print("Value of b = ", b)

try:
	fun(3)
	fun(5)

# note that braces () are necessary here for multiple exceptions
except ZeroDivisionError:
	print("ZeroDivisionError Occurred and Handled")
except NameError:
	print("NameError Occurred and Handled")

ZeroDivisionError Occurred and Handled

# Python's Module & Library

In [ ]:
# Let's say you have a file named math_operations.py with the following code:

# def add(a, b):
#     return a + b

# def subtract(a, b):
#     return a - b

In [ ]:
# This file is a module, and you can use the functions defined in this module in another Python script by importing it:

import math_operations

result = math_operations.add(5, 3)
print(result)  # Output: 8

8

In [ ]:
# The Python standard library includes a module named math, which provides mathematical functions like trigonometry,
# logarithms, and constants like pi and e.

import math

print(math.sqrt(25))  # Output: 5.0
print(math.sin(math.pi/2))  # Output: 1.0

5.0
1.0

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)